* {
  all: unset;
  font-family: DepartureMono Nerd Font Propo;
  font-size: 16px;
}

.container {
  padding: 8px 8px 0;
}

.clock {
  padding: 0 16px;
  background-color: rgba(20, 22, 24, 0.50);
  border-radius: 16px;
}

.battery {
  padding: 0 16px;
  background-color: rgba(20, 22, 24, 0.50);
  border-radius: 16px;
}

.workspaces {
  background-color: rgba(20, 22, 24, 0.50);
  padding: 0 16px;
  border-radius: 16px;

  button {
    padding: 0 8px;
    &.active {
      color: #A4DAFF;
    }
    
    &.inactive {
      color: #A9B1D6;
    }
  }
}
